@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* 콘테이너 */
.filter-container {
  position: relative;
}
.filter-container > input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

/* 버튼 */
.filter-button {
  font-family: 'pretendard';
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: inline-flex;
  background-color: inherit;
  color: white;
  padding: 8px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.filter-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.filter-button--active,
.filter-button--active:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* 화살표 애니메이션 */
.filter-arrow {
  transition: 0.15s;
}
.filter-button--active > .filter-arrow {
  transform: rotate(180deg);
}
